<?xml version="1.0" encoding= "UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"> 

<suite name="MakeMyTrip Website" >
	<test  name="Functional Test Login">
		<classes>
			<class name= "com.makemytrip.LoginTest"></class>
		</classes>
	</test>
	<test  name="Functional Test Registration">
		<classes>
			<class name= "com.makemytrip.RegistrationTest"></class>
		</classes>
	</test>
	<test  name="Functional Test Flight">
		<classes>
			<class name= "com.makemytrip.FlightTest"></class>
		</classes>
	</test>
	<test  name="Functional Test Hotel">
		<classes>
			<class name= "com.makemytrip.HotelTest"></class>
		</classes>
	</test>
</suite>